* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #fab005;
  --dark-color: #0f0f0f;
  --light-color: #101010;
  --red: #dd0023;
  --white: #d5d5d5;
}

/* GENERAL */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  /* font-family: "Kanit"; */
  /* font-family: "Prompt"; */
  /* font-family: "Space Grotesk"; */
  font-family: "Blinker";

  background-image: url(images/triangle.svg), url(images/circle.svg), url(images/cross.svg),
    url(images/square.svg);
  background-position: top 5% left -54%, top 30% right -86%, top 52% left -64%, top 87% right -68%;
  background-repeat: no-repeat;
  background-size: 65%;
  background-color: var(--dark-color);
  background-blend-mode: soft-light;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

ul {
  list-style: none;
}

img {
  display: block;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(0.2rem, 0.3vw, 5rem);
  padding-inline: clamp(2rem, 6vw, 9.6rem);
  height: 9.6rem;
  border-bottom: 6px solid var(--red);

  background-color: var(--dark-color);

  transition: border-color 0.15s;
}

header:has(.nav-list:hover) {
  border-color: var(--red);
}

header .logo {
  display: block;
  height: clamp(2.4rem, 5.9vw, 4.8rem);
}

nav {
  height: 100%;
  font-size: clamp(1rem, 2.6vw, 2.2rem);
  font-weight: 600;
}

.nav-link {
  display: flex;
  align-items: end;
  justify-content: center;
  width: clamp(4rem, 13vw, 12rem);
  height: 100%;
  padding: 1.6rem 1.6rem;
  color: inherit;
  transform: skew(10deg);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: clamp(0.4rem, 0.6vw, 0.8rem);

  height: 100%;
}

.nav-li {
  color: var(--light-color);
  text-align: center;
  background-color: var(--main-color);
  transform: skew(-10deg);
  box-shadow: inset 0 0 0 0 var(--red);
  transition: box-shadow 0.15s;
}

.nav-li:hover {
  color: var(--white);
  box-shadow: inset 0 -150px 0 0 var(--red);
}

.fixed {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999;
}

.fixed + main {
  margin-top: 9.6rem;
}

/* HERO SECTION */
video {
  display: block;
  width: 100%;
  max-width: 160rem;
  background: var(--dark-color);
  margin-inline: auto;
}

/* SECTION */
section {
  --section-padding: clamp(7rem, 12vw, 16rem);

  scroll-margin-top: 9.6rem;
  padding-top: var(--section-padding);
  position: relative;
}

.section-hero {
  padding: 0;
  padding-inline: 3.2rem;
}

.section-title {
  width: clamp(21rem, 38vw, 48rem);
  position: absolute;

  left: 50%;
  top: var(--section-padding);
  transform: translate(-50%, -75%) rotate(-3deg);
  z-index: 112;
}

/* GAMES */
#games {
  --game-gap: 1rem;
  /* background: linear-gradient(#000 0, var(--dark-color) 20%); */
}

.games-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--game-gap);

  position: relative;

  width: min(100vw, 192rem);
  margin: 0 auto;
  overflow-x: clip;
}

.games-row {
  display: flex;
  gap: var(--game-gap);

  flex: 0 0 fit-content;

  translate: -100% 0;
  animation: slide linear infinite;
}

.games-row:nth-of-type(1),
.games-row:nth-of-type(2) {
  animation-duration: 35s;
}

.games-row:nth-of-type(3),
.games-row:nth-of-type(4) {
  animation-duration: 20s;
}

.games-row:nth-of-type(5),
.games-row:nth-of-type(6) {
  animation-duration: 25s;
}

.games-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    90deg,
    var(--dark-color) 0,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 70%,
    var(--dark-color)
  );

  /* box-shadow: 0 0 47px 0 var(--dark-color); */
  z-index: 111;
  top: 0;
  left: 0;
  pointer-events: none;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(9rem, 14vw, 16rem);
  aspect-ratio: 0.67;
  overflow: hidden;
  transform: skew(-10deg, 0);
}

.game-fig,
.game img {
  width: 100%;
  height: 100%;
}

.game img {
  object-fit: cover;
  transform: skew(10deg, 0) scale(1.27);
  transform-origin: top right;
}

@keyframes slide {
  from {
    translate: calc(-100% - var(--game-gap)) 0;
  }
  to {
    translate: 0 0;
  }
}

/* ROOMS */
.rooms-container {
  max-width: min(140rem, 85vw);
  margin: 0 auto;
  position: relative;
}

.rooms-carousel-frame {
  overflow: hidden;
}

.rooms-list {
  display: flex;
  width: 400%;
  height: 100%;

  translate: -25%; /*start from the second image so there's an image on both sides*/

  transition: transform 0.2s ease-out;
}

.room-fig {
  position: relative;
  font-size: clamp(1rem, 1vw + 0.9rem, 3rem);
  border-bottom: 6px solid var(--main-color);
}

.room-fig::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--dark-color) 0%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 75%,
    var(--dark-color) 100%
  );
}

.room-li,
.room-fig,
.room-img {
  display: block;
  width: 100%;
  height: auto;
}

.room-text {
  position: absolute;
  left: 50%;
  bottom: 0;
  color: var(--white);
  background-color: #0f0f0f80;
  padding: 1.1em 1.5em;
  transform: translate(-50%, 0);
  width: 100%;
  white-space: wrap;
}

.room-btn {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 50%;
  cursor: pointer;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: clamp(5rem, 12vw, 17rem);
  height: clamp(5rem, 12vw, 17rem);

  transition: filter 0.1s;
}

.prev-room-btn {
  left: 0;
  background-image: url("icons/prev.svg");
  transform: translate(-50%, -50%);
  clip-path: polygon(
    85.51% -7.41%,
    18.57% 41.04%,
    6.51% 76.98%,
    88.46% 108.05%,
    94% 76%,
    43.62% 52.08%,
    88.75% 25.13%
  );
}

.next-room-btn {
  right: 0;
  background-image: url("icons/next.svg");
  transform: translate(50%, -50%);
  clip-path: polygon(
    19.74% -9.81%,
    92.61% 23.15%,
    84.77% 55.82%,
    15.93% 109.14%,
    12% 72.77%,
    54.8% 47.72%,
    4% 21.91%
  );
}

.room-btn:hover {
  filter: hue-rotate(-45deg) saturate(6);
}

/* WATCH */
.movies-container {
  font-size: calc(1vw + 1rem);
}

.movies-container > div {
  padding: 4em;
  background: linear-gradient(90deg, var(--dark-color) 40%, rgba(0, 0, 0, 0) 100%),
    url("images/movies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.movies-text {
  inline-size: 55%;
  /* font-size: calc(1vw + 1rem); */
  color: var(--white);
  line-height: 1.5;
}

/* FEATURES */
#features {
  padding-inline: 9.6rem;
}

.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 8rem;

  max-width: 120rem;
  margin-inline: auto;
}

.feature-label {
  font-size: calc(1vw + 2.5rem);
  font-weight: 600;
  color: var(--white);
  position: absolute;
  left: 4rem;
  bottom: 2rem;
}

.feature-atmosphere .feature-label,
.feature-movies .feature-label {
  right: 4rem;
  left: unset;
}

.feature-img-container {
  position: relative;
  border-bottom: 6px solid var(--main-color);
}

.feature-img-container::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000000de, #fff0 50%);
  position: absolute;
}

.feature img {
  width: 100%;
  height: 36rem;
  object-fit: cover;
}

.feature-desc {
  font-size: clamp(2.2rem, 1vw + 1.2rem, 3.1rem);
  color: var(--white);
}

.feature-atmosphere .feature-img-container,
.feature-movies .feature-img-container {
  order: 2;
}

/* GALLERY */
#gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: auto;
  max-width: min(190rem, 90vw);
  gap: 1rem;
}

.gallery-item {
  overflow: hidden;
  aspect-ratio: 1;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* CONTACT FORM */
#contact-us {
  scroll-margin-top: 0;
  padding-bottom: 16rem;
  padding-inline: 4.8rem;
}

.contact-us-box {
  display: grid;

  grid-template-columns: 1.3fr 1fr;
  background-color: var(--main-color);
  /* clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%); */

  max-width: 90rem;
  margin: 0 auto;
}

.contact-us-btn {
  width: 100%;
  padding: 1.6rem 2.2rem;
  border: none;
  font-family: inherit;
  font-size: 2.2rem;
  cursor: pointer;
  background-color: var(--dark-color);
}

.contact-us-btn:hover {
  background-color: var(--red);
  outline: 2px solid var(--main-color);
  color: var(--white);
  /* width: calc(100% - 4px); */
}

.contact-us-img {
  background-image: url("images/reserve.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%); */
}

.contact-form {
  display: grid;
  padding: 5rem;
  gap: 1.6rem;
  align-items: end;
}

.contact-form label {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--light-color);
}

.contact-form button {
  font-size: 2.3rem;
  color: var(--white);
  background-color: var(--dark-color);
  padding: 1.5rem;
  border: none;
  cursor: pointer;
}

.contact-note {
  font-size: 1.1rem;
  margin-top: 0.3rem;
}

textarea {
  resize: none;
  padding: 0.7rem 1.3rem;
  font-size: 1.9rem;
  height: 13rem;
  width: 100%;
  background-color: var(--white);
  border: none;
  box-shadow: inset 0 0 3px -1px #707070;
}

textarea:focus {
  outline: 2px solid var(--red);
}

form button,
form textarea {
  font-family: inherit;
}

/* FOOTER */
footer {
  border-top: 6px solid var(--red);
  padding-inline: clamp(3.2rem, 7vw, 4.8rem);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  color: var(--light-color);
  max-width: 120rem;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-block: 4rem;
}

.logo-container .logo {
  height: clamp(2.4rem, 5.9vw, 5.5rem);
  margin-bottom: 1.2rem;
}

.social-list {
  display: flex;
  gap: 1rem;
}

.social-list img {
  display: block;
  width: clamp(2rem, 2vw, 2.5rem);
  height: clamp(2rem, 2vw, 2.5rem);
}

/* recolor as #fab005*/
.social-link {
  filter: brightness(0) saturate(100%) invert(75%) sepia(42%) saturate(4007%) hue-rotate(1deg)
    brightness(105%) contrast(96%);
}
/* recolor as var(--white) */
.social-link:hover {
  filter: brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(3903%) hue-rotate(205deg)
    brightness(109%) contrast(67%);
}

.copyright {
  color: var(--white);
  margin-top: auto;
  font-size: clamp(1.3rem, 2vw, 1.6rem);
}

.footer-box-title {
  font-size: 2.6rem;
  font-weight: 600;
}

.footer-box-text {
  font-size: 1.5rem;
  margin-top: 1.4rem;
}

.map {
  height: clamp(5rem, 10vw, 8rem);
  border: 2px solid var(--dark-color);
  margin-top: 1rem;
}

.map:hover {
  border-color: var(--red);
}

.contacts-box {
  transform: skew(-10deg);
  background-color: var(--main-color);
  padding: 3em 7em;
  font-size: 1rem;
}

.contacts-box > div {
  transform: skew(10deg);
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.contact-link:hover {
  filter: brightness(0) saturate(100%) invert(18%) sepia(63%) saturate(7121%) hue-rotate(342deg)
    brightness(81%) contrast(117%);
}

.contact-link img {
  height: 1.8rem;
}

.contacts {
  margin-top: 1.5rem;
}
